.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 1100px;
  margin-inline: auto;
  & > button {
    flex: 1;
    height: 70px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    color: rgb(218, 211, 236);
    cursor: pointer;
  }
}
.regenerate {
  background-color: rgba(147, 77, 217, 0.6);
  backdrop-filter: blur(10px);
}
.save {
  background-color: #035b03;
}
.cancel {
  background-color: white;
  color: black!important;
}